﻿@model TimetableArranger.Web.Models.ArrangerModel
@{
    ViewBag.Title = "Mój plan";
    ViewBag.CssFilename = "style-arranger";
}

@section Headers
{
<script type="text/javascript">
    $(document).ready(function () {

        function hitTest(a, b) {
            var aPos = a.position();
            var bPos = b.position();

            var aLeft = aPos.left;
            var aRight = aPos.left + a.width();
            var aTop = aPos.top;
            var aBottom = aPos.top + a.height();

            var bLeft = bPos.left;
            var bRight = bPos.left + b.width();
            var bTop = bPos.top;
            var bBottom = bPos.top + b.height();

            return !(bLeft > aRight
            || bRight < aLeft
            || bTop > aBottom
            || bBottom < aTop
            );
        }

        $(".kafel").draggable({
            start: function () {
                $(this).removeClass("dropped");
            },
            revert: function (event, ui) {
                position = $(this).position();
                var dropped = $(".dropped");
                var kolizja = false;
                if (dropped.length > 0) {
                    kolizja = hitTest($(this), $(".dropped"));
                }
                if (position.left > 195 && position.left + $(this).width() < 1120
                        && position.top > 246 && position.top + $(this).height() < 545)
                    return false;
                return true;
            },
            //containment: "#scroll",
            scroll: true,
            snap: ".cztery, .czte",
            snapMode: "inner",
            cursor: "crosshair",
            cursorAt: { top: 15, left: 30 },
            stack: ".ui-draggable",
            stop: function () {
                $(this).addClass('dropped');
            }
        });

        $(".dni").droppable({
            drop: function (event, ui) {
                //$(this).addClass('asd');
            }

        });
    });
</script>
}
<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
  <p><b style="font-weight:900">Aranżer</b><br/>
  </p>
  <p style="font-size:11px">Kreator układania planu</p></div></div>
<div id="pole">
<ul id="menu">
<li style="margin-left:25px"><a href="#">ARANŻER</a>
    <ul>
      <li><a href="#" style="border-top-style:solid">Link 1.1</a></li>
      <li><a href="#">Link 1.2</a></li>
      <li><a href="#" style="border-bottom-style:solid">Link 1.3</a></li>
    </ul>
  </li>
  <li><a href="#">PROWADZĄCY</a>
    <ul>
      <li><a href="#" style="border-top-style:solid">Link 2.1</a></li>
      <li><a href="#">Link 2.2</a></li>
      <li><a href="#" style="border-bottom-style:solid">Link 2.3</a></li>
    </ul>
  </li>
  <li style="text-align:center"><a href="#">SALE</a>
    <ul>
      <li><a href="#" style="border-top-style:solid">Link 3.1</a></li>
      <li><a href="#">Link 3.2</a></li>
      <li><a href="#" style="border-bottom-style:solid">Link 3.3</a></li>
    </ul>
  </li>
   
</ul>

</div>

<div class="kafelki">
<div class="strzalkaLewa"><img border="none" src="@Url.Content("~/Content/images/lewy.png")" ></div>
<div class="panel">
    @*<div class="kafel kafelek10"><p>10</p></div>
    <div class="kafel kafelek6"><p>6</p></div>
    <div class="kafel kafelek7"><p>7</p></div>
    <div class="kafel kafelek8"><p>8</p></div>*@
    @foreach (var course in Model.UnassignedCourses)
    {
        <div class="kafel kafelek6" courseno="@course.Id"><p>@course.Name</p></div>
    }
    </div>
    <div class="strzalkaPrawa"><img border="none" src="@Url.Content("~/Content/images/prawy.png")" ></div>
</div>

<div id="godzina">
@foreach (var h in Model.AvailableHours)
{
<div class="godz">@string.Format(h)</div>
}
</div>
<div class="pusty"></div>
<div style="background-color:#FFF">
<div id="scroll">

@foreach (var day in Model.WeekDays)
{
<div id="pon">@string.Format(day)</div>
    for (int j = 1; j < Model.GroupCount; j++)
    {
<div class="dni ui-droppable">
<div class="czter"><h1>@string.Format("{0}", j)</h1></div>
<div class="cztery"></div>
<div class="cztery"></div>
<div class="cztery"></div>
@for (int i = 1; i < Model.AvailableHours.Count - 1; i++)
{
<div class="czte"></div>
<div class="cztery"></div>
<div class="cztery"></div>
<div class="cztery"></div>
}
</div>
<div class="pusty"></div>
    }
<div class="pusty" style="height:50px"></div>
}
</div>

<div id="dolna"><button>Eksportuj</button></div>

</div>

