﻿@model TimetableArranger.Web.Models.CourseModel

@{
    ViewBag.Title = "Create";
    ViewBag.CssFilename = "style-course";
}
<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
  <p><b style="font-weight:900">DASHBOARD</b></br>
  </p>
  <p style="font-size:11px">Kreator układania planu</p>
</div></div>
<div id="pole">
<div class="napisy" >@Html.ActionLink("PROWADZĄCY", "Create", "Tutor")</div>
<div class="napisy">@Html.ActionLink("SALE","Create","Classroom")</div>
<div class="napisy">@Html.ActionLink("PRZEDMIOT","Create","Course")</div>
<div class="napisy">@Html.ActionLink("GRUPY","Create","Group")</div>
    <div class="napisy" style="margin-left:35px">LISTA DODANYCH PRZEDMIOTÓW</div>
<div id="pusta"></div>
@using (Html.BeginForm())
{
    <div  class="ramka">
<div class="nazwa">

</div><!--nazwa-->
<div >
<label>Przedmiot</label>
		@*<input type="text" id="login" name="nick" value="" />*@
        @Html.EditorFor(m => m.thisCourse.CourseName)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.thisCourse.CourseName)</div>
	  </div>
        
<div>
<label>Prowadzący</label>
		@*<input type="text" id="haslo" name="nick" value="" />*@
        @Html.DropDownListFor(m => m.TutorId, Model.TutorsList)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.TutorId)</div>
	  </div>
<div>
<label>Rodzaj</label>
        @*<input type="text" id="Text3" name="nick" value="" />*@
        @Html.DropDownListFor(m => m.TypeId,Model.ClassroomTypesList)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.TypeId)</div>
	  </div>
<div>
<label>Czas trwania (min)</label>
		@*<input type="text" id="Text1" name="nick" value="">*@
        @Html.EditorFor(m => m.thisCourse.Duration)
        <div class="komunikaty">@Html.ValidationMessageFor(m => m.thisCourse.Duration)</div>
	  </div>
    <div>
<label>Semestr</label>
        @*<input type="text" id="Text4" name="nick" value="" />*@
        @Html.EditorFor(m => m.thisCourse.Semester)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.thisCourse.Semester)</div>
	  </div>

</div>

@*
<h1>Preferowane godziny zajęć:</h1>
<div style="margin-top:20px;">
    <div class="dni">
        <div class="dzien" >
            Poniedziałek<input class="checkboxy"  type="checkbox" />
        </div>
        
        <div class="oddo"><div class="od">od</div> <input class="textboxgodzina" id="Text5" type="text" /><div class="divodstep"></div><div class="do">do</div>
            <input class="textboxgodzina" id="Text6" type="text" /> <input class="plusbutton" id="Button1" type="button" value="+" /></div>
    
    </div><!--pon-->

</div>
    <div>
    <div class="dni">
        <div  class="dzien">
            Wtorek<input class="checkboxy"  type="checkbox" />
        </div>
        
        <!--<div class="oddo"><div class="od">od</div> <input class="textboxgodzina" id="Text7" type="text" /><div class="divodstep"></div><div class="do">do</div>
            <input class="textboxgodzina" id="Text8" type="text" /> <input class="plusbutton" id="Button2" type="button" value="+" /></div>-->
    
    </div><!--wt-->

</div>
   
    <div>
    <div class="dni">
        <div class="dzien" >
            Środa<input class="checkboxy"  type="checkbox" />
        </div>
        
       <!-- <div class="oddo"><div class="od">od</div> <input class="textboxgodzina" id="Text9" type="text" /><div class="divodstep"></div><div class="do">do</div>
            <input class="textboxgodzina" id="Text10" type="text" /> <input class="plusbutton" id="Button3" type="button" value="+" /></div>-->
    
    </div><!--Śr-->

</div>
    <div>
    <div class="dni">
        <div class="dzien" >
            Czwartek<input class="checkboxy"  type="checkbox" />
        </div>
       <!-- 
        <div class="oddo"><div class="od">od</div> <input class="textboxgodzina" id="Text11" type="text" /><div class="divodstep"></div><div class="do">do</div>
            <input class="textboxgodzina" id="Text12" type="text" /> <input class="plusbutton" id="Button4" type="button" value="+" /></div>-->
    
    </div><!--Czw-->

</div>
    <div>
    <div class="dni">
        <div class="dzien" >
            Piątek<input class="checkboxy"  type="checkbox" />
        </div>
        
       <!-- <div class="oddo"><div class="od">od</div> <input class="textboxgodzina" id="Text13" type="text" /><div class="divodstep"></div><div class="do">do</div>
            <input class="textboxgodzina" id="Text14" type="text" /> <input class="plusbutton" id="Button5" type="button" value="+" /></div>-->
    
    </div><!--Pt-->
        
   

</div>*@
<div class="dni">     <button>Dodaj przedmiot</button></div>
}
    <div>
    

</div><!--główny-->

    <div class="kreska2"></div>
    <div class="kreska3"></div>

    <div class="tabela">
        <table>
            <tr><td style="width:140px; color:#33BBBF; font-size:10px">Nazwa przedmiotu</td><td style="width:70px; color:#33BBBF; font-size:10px">Rodzaj</td><td style="width:50px; color:#33BBBF; font-size:10px">Czas trwania</td><td style="width:40px; color:#33BBBF; font-size:10px">Grupa</td><td style="width:80px; color:#33BBBF; font-size:10px">Rok/Semestr</td><td style="width:115px; color:#33BBBF; font-size:10px">Prowadzący</td><td style="width:100px; color:#33BBBF; font-size:10px">Modyfikacje</td></tr>
            @foreach (var cvModel in Model.CoursesList)
            {
            <tr><td>@cvModel.CourseName</td><td>@cvModel.Type</td><td>@cvModel.Duration</td><td>[nie wiem]</td><td>@cvModel.Semester</td><td >@cvModel.TutorName</td><td><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_15.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_16.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_17.gif")"></a></td></tr>
            }            
        </table>
    </div>
