﻿@model MvcApplication1.Models.DzialyModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
@foreach (string nazwa in Model.NazwyDzialow)
{
    <li><p>@nazwa</p><button class="ajaksowy">Wywołanie ajaksowe dla: @nazwa</button></li>
}
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ajaksowy').click(function () {
            var tresc_li = $(this).parent().find('p').html();
            $.ajax('@Url.Action("WywolanieAjaksowe","Ajax")', {
                data:{parametr: tresc_li},
                success: function (data) {
                    alert('W tym dziale jest ' + data.poleZwrocone + ' produktów.');
                }
            });
        });
    });
</script>
