﻿@using TimetableArranger.Web.Infrastructure

@if(CookieHelper.IsLogged())
{
   <div class="gorneprawe">@Html.ActionLink(CookieHelper.GetUsername(),"Logout","Account")<img border="none" src="../Content/images/przycisk.png"></div>
    <div class="gorneprawe"><img border="none" src="images/index_07.gif"></div>
}
else
{
     <div class="gorneprawe">@Html.ActionLink("logowanie","Login","Account")<img border="none" src="images/przycisk.png"></div>    
}