﻿@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {margin: 0;  padding: 0;  border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section { display: block; } 
body  
{
 font-family: 'PT Sans', sans-serif;
 line-height: 1;
 background-color:#EBEBEB;
} 
ol, ul {
	list-style: none; 
	} 
blockquote, q { 
quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after {
	  content: '';  content: none;
	  } 
table {
	border-collapse: collapse; border-spacing: 0;
	 }
a{
	text-decoration:none;
	color:#000;
	}
a:hover{color:#69CDC9}
a:active{color:#69CDC9}
#calosc{
	width:1024px;
	height:725px;
	margin:20px auto;

	}
.gorne{
	float:left;
	width:135px;
	text-align:center;
	}
#menugorne{
	background-color:#F5F5F5;
	height:50px;
	width:1024px;
	}
#mengorne{
	height:38px;
	padding-top:16px;
	margin-left:2px;
	margin-right:2px;
}
.ciemna{
	float:left;
	width:1px;
	height:21px;
	background-color:#E8E8E8;
	
}
.jasna{
	float:left;
	width:1px;
	height:21px;
	background-color:#FFF;
}
#logo{
	font-size:24px;
	padding-left:25px;
	padding-top:8px;
}

.kreska{
	margin-top:-8px;
	 height:45px; 
	 background-color:#F5F5F5;
	}
#jasn{
	width:1024px;
	height:1px;
	background-color:#FFF;
}
#ciemn{
	width:1024px;
	height:1px;
	background-color:#E8E8E8;
	
}
#pole{
	width:1024px; 
	height:500px;
    background-color:#FFF;
	}
.napisy{
	float:left; 
	margin:14px; 
	margin-left:30px;
	font-size:13px;
	}


#pusta
{
	width:80px;
	height:60px;
}
.logowanie{
    text-align:right;
	height:135px;
	width:280px;
	margin-left:40px;
    outline-style:solid;
    outline-width:2px; 
	outline-color:#33BBBF;
}
.rejestracja {
    text-align:right;
    height:202px;
	width:280px;
    margin-left:380px;
    margin-top:0px;
    float:left;
    outline-style:solid;
    outline-width:2px; 
	outline-color:#33BBBF;
    
}
.nazwa{
	width:auto;
	height:30px;
	background-color:#33BBBF;
}
.nazwa p{
	padding:5px 0 0 0;
	text-align:center;
	color:#FFF;
    
}
label{
    padding-top:20px;
    font-size:14px;
    margin-right:40px;
	}
.logowanie input[type=text], .logowanie input[type=password], .rejestracja input[type=text], .rejestracja input[type=password]
{	
    border-style:solid;
    border-width:1px; 
	border-color:#33BBBF;
    border-radius:6px;
    width:180px;
    margin-right:10px;
    margin-top:10px;
    
}
.rejestracja button
 {
    height:20px;
    width:110px;
    border:0px;
    border-radius:6px;
    background-color:#33BBBF;
    font-size:10px;
    color:white;
    margin-right:82px;
    margin-top:6px;
	
	
	
}
.logowanie button
 {
    height:20px;
    width:90px;
    border:0px;
    border-radius:6px;
    background-color:#33BBBF;
    font-size:10px;
    color:white;
    margin-right:102px;
    margin-top:10px;
	
}
.copyright {
   
    font-size:12px;
    color:#B5B5B5;
    text-align:right;
}
button{ 
	background: -moz-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -ms-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -o-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -webkit-linear-gradient(bottom, #40c0bb, #76d5d1);
}

#menugorne div.gorneprawe
{
    position: relative;
    float: right;
    margin: 10px;
}