﻿@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {margin: 0;  padding: 0;  border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section { display: block; } 
body { 
font-family: 'PT Sans', sans-serif;
line-height: 1;
 background-color:#EBEBEB;
 } 
ol, ul {
	list-style: none; 
	} 
blockquote, q { 
quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after {
	  content: '';  content: none;
	  } 
table {
	border-collapse: collapse; border-spacing: 0;
	 }
a{
	text-decoration:none;
	color:#000;
		}
a:hover{color:#69CDC9}
a:active{color:#69CDC9}
#calosc{
	width:1024px;
	height:725px;
	margin:20px auto;

	}
.gorne{
	float:left;
	width:135px;
	text-align:center;
	}
#menugorne{
	background-color:#F5F5F5;
	height:50px;
	width:1024px;
	}
#mengorne{
	height:38px;
	padding-top:16px;
	margin-left:2px;
	margin-right:2px;
}
.ciemna{
	float:left;
	width:1px;
	height:21px;
	background-color:#E8E8E8;
	
}
.jasna{
	float:left;
	width:1px;
	height:21px;
	background-color:#FFF;
}
#logo{
	font-size:14px;
	padding-left:25px;
	padding-top:8px;
}
#jasn{
	width:1024px;
	height:1px;
	background-color:#FFF;
}
#ciemn{
	width:1024px;
	height:1px;
	background-color:#E8E8E8;
	
}	
.gorneprawe{
	float:right;
	margin-right:15px;
	padding-top:18px;
	}
	

.kreska{
	margin-top:-10px;
	 height:45px; 
	 background-color:#F5F5F5;
	}
#pole{
	width:1024px; 
	height:500px;
	 background-color:#FFF; 
	}
.napisy{
	float:left; 
	margin:14px; 
	margin-left:30px;
	font-size:13px;
	}
#pusta
{
	width:80px;
	height:60px;
}
.ramka{
    text-align:right;
	height:200px;
	width:425px;
	margin-left:25px;

}
.ramka input[type=text]
{	
    border-style:solid;
    border-width:1px; 
	border-color:#33BBBF;
    border-radius:6px;
    width:170px;
    margin-right:130px;
    margin-top:15px;
}
label{
    
    padding-top:20px;
    font-size:13px;
    margin-right:10px;
	}
button
 {
    height:30px;
    width:140px;
    border:0px;
    border-radius:1px;
    background-color:#33BBBF;
    font-size:12px;
    color:white;
    margin-top:20px;
    margin-left:30px;
	background: -moz-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -ms-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -o-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -webkit-linear-gradient(bottom, #40c0bb, #76d5d1);
}
.komunikaty {
    margin-top:-15px;
    font-size:12px;
    margin-right:30px;
    text-align:left;
    margin-left:310px;
}
.lista {
    
    border-style:solid;
    border-width:1px; 
	border-color:#33BBBF;
    border-radius:6px;
    width:172px;
    margin-right:130px;
    margin-top:15px;
}
.copyright {
   
    font-size:12px;
    color:#B5B5B5;
    text-align:right;
}
.kreska2{
     margin-left:475px;
	 margin-top:-280px;
	 height:1px; 
	 background-color:#33BBBF;
     width:540px;
	}
.kreska3{
     margin-left:475px;
	 margin-top:0px;
	 height:3px; 
	 background-color:#33BBBF;
     width:180px;
	}
.tabela {
    font-size:12px;
    color:black;
    margin-top:7px; 
    margin-left:475px;
}
td {
    height:18px;
}
