﻿@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {margin: 0;  padding: 0;  border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section { display: block; } 
body { 
font-family: 'PT Sans', sans-serif;
line-height: 1;
 background-color:#EBEBEB;

 } 
ol, ul {
	list-style: none; 
	} 
blockquote, q { 
quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after {
	  content: '';  content: none;
	  } 
table {
	border-collapse: collapse; border-spacing: 0;
	 }
a{
	text-decoration:none;
	color:#000;
	}
a:hover{color:#69CDC9}
a:active{color:#69CDC9}
#calosc{
	width:1024px;
	height:725px;
	margin:20px auto;
	}
.gorne{
	float:left;
	width:135px;
	text-align:center;
	}
#menugorne{
	background-color:#F5F5F5;
	height:50px;
	width:1024px;
	}

.gorneprawe{
	float:right;
	margin-right:15px;
	padding-top:18px;
	}
#mengorne{
	height:38px;
	padding-top:16px;
	margin-left:2px;
	margin-right:2px;
}	
.ciemna{
	float:left;
	width:1px;
	height:21px;
	background-color:#E8E8E8;
	
}
.jasna{
	float:left;
	width:1px;
	height:21px;
	background-color:#FFF;
}
#logo{
	font-size:14px;
	padding-left:25px;
	padding-top:8px;
}
#jasn{
	width:1024px;
	height:1px;
	background-color:#FFF;
}
#ciemn{
	width:1024px;
	height:1px;
	background-color:#E8E8E8;
	
}
.kreska{
	margin-top:-10px;
	 height:45px; 
	 background-color:#F5F5F5;
	}
#pole{
	width:1024px; 
	height:50px;
	 background-color:#FFF; 
	}
.napisy{
	float:left; 
	margin:13px; 
	margin-left:40px;
	font-size:13px;
	}

.kafelki{
	padding-left:350px;
	width:auto;
	height:60px;
	background-color:#fff;
}
#godzina{
	width:auto;
	height:21px;
	background:#FFF;
}
.godz{
	float:left;
	width:31px;
margin-left:46px;
}
.dni{
	width:954px;
	height:32px;
	margin-left:48px;
	background-color:#FFF;
	padding-top:3px;
	
}

.pusty{
	height:2px;
	background-color:#FFF;
}
.cztery{
	width:17px;
	height:20px;
	float:left;
	border:1px;
   border-style:solid;
   padding-top:12px;
   border-color:#999;
}
.czte{
	width:17px;
	height:20px;
	float:left;
padding-top:12px;
	border:1px;
   border-style:solid; 
  border-right:ridge;
   border-color:#999;
}

.czter{
	padding-top:5px;
		text-align:center;
	-moz-transform:rotate(-90deg); 
	-o-transform:rotate(-90deg);
	width: 200px; height: 100px;
	 border-style:solid;
   border-color:#999;
	width:16px;
	height:25px;
	float:left;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);

}
#dolna{
    width:1024px;
	height:60px;
	background-color:#FFF;
}

button{

	height:30px;
     width:120px;
	 border:0px;
	 border-radius:1px;
	 background-color:#33bbbf;
	 font-size:12px;
	 margin-top:15px;
	 margin-left:40px;
	 color:#FFF;
	 background: -moz-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -ms-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -o-linear-gradient(bottom, #40c0bb, #76d5d1);
	background: -webkit-linear-gradient(bottom, #40c0bb, #76d5d1);
}
#znaczek{
	color:#B5B5B5;
	text-align:right;
	font-size:12px;

}
.kafelek5 {
    float:left;
  
    width:20px;
}
.kafelek6 {
    float:left;
    margin-left:30px;
    width:102px;
     background-color:#BB3373;
	 height:30px;
	 	color:#FFF;
		font-size:11px;
		text-align:center;
	 margin-top:-6px;
}
.kafelek7 {
	text-align:center;
	background-color: #35BAB5;
    float:left;
	height:30px;
    margin-left:30px;
    width:153px;
	font-size:11px;
		color:#FFF;
	margin-top:-6px;
}
.kafelek8 {
	font-size:11px;
	text-align:center;
	background-color:#7D33BB;
    float:left;
    margin-left:30px;
	height:30px;
    width:51px;
		color:#FFF;
	margin-top:-6px;
}
.kafelek9 {
    float:left;
    margin-left:30px;
    width:20px;
}
.kafelek10 {
	font-size:11px;
	text-align:center;
	color:#FFF;
	background-color:#BB3373;
    float:left;
	height:30px;
	margin-top:-5px;
    margin-left:30px;
    width:102px;

}
.kafelek10 p{
	padding-top:2px;
}
.kafelek6 p{
	padding-top:2px;
}
.kafelek7 p{
	padding-top:2px;
}
.kafelek8 p{
	padding-top:2px;
}


#pon {
    padding-top:330px;
	text-align:left;
	-moz-transform:rotate(-90deg); 
	-o-transform:rotate(-90deg);
	margin-left:-145px;
	border-style:solid;
    border-color:#999;
	width:16px;
	height:25px;
	float:left;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
    font-size:16px;
}
#wtorek{
	-moz-transform:rotate(-90deg); 
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	width:16px;
	height:25px;
	 font-size:16px;
	 	float:left;
		padding-right:-400px;
		padding-top:400px;
		
}

#scroll{
	overflow-x:hidden;
	 overflow-y:scroll;
	   height:297px; 
	   width:1020px;
}
#menu li {list-style: none; width:90px}
#menu {height: 30px;}
#menu ul {visibility: hidden; position: absolute; top: 100%; left: 0;}
#menu li {float: left; padding-right: 1px; position: relative;}
#menu li li {float: none; padding-top: 1px; width: 160px;}
#menu li:hover ul {visibility: visible;}
#menu a, #menu li:hover li a {display: block; font: 12px/30px verdana, sans-serif; text-decoration: none; padding: 0 10px; color: #000; background-color: #FFF;}
#menu li li a {width: 100px; border:1px; border-left-style:solid;border-right-style:solid; border-color:#33bbbf; text-align:center}
#menu li:hover a{ color:#33bbbf;}
#menu li:hover li:hover a { background-color:#33bbbf;margin:0px}

.strzalkaLewa 
{
    width: 20px;
    float: left;
}
.strzalkaPrawa 
{
    width: 20px;
    float: right;
}