﻿@model TimetableArranger.Web.Models.LoginModel

@{
    ViewBag.Title = "Logowanie";
    ViewBag.CssFilename = "style-login";
}
<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
<b>TIME TABLE ARRANGER</b></div></div>
<div id="pole">
<div class="napisy" ><a  href="">STRONA GŁÓWNA</a></div>
<div class="napisy"><a href="">DEMO</a></div>
<div class="napisy"><a href="">POMOC/FAQ</a></div>
<div class="napisy"><a href="">KONTAKT/TWÓRCY</a></div>
<div id="pusta"></div>
@using(Html.BeginForm())
{
<div  class="logowanie">
<div class="panel">
<div class="nazwa">
<p>Logowanie</p>
</div><!--nazwa-->
<div>
<label>Login</label>
		@*<input type="text" id="login" name="nick" value="" />*@
        @Html.EditorFor(m=>m.Login)
	  </div>
        
<div>
<label>Hasło</label>
		@*<input type="text" id="haslo" name="nick" value="" />*@
        @Html.PasswordFor(m => m.Password)
	  </div>
<div>
@Html.ValidationSummary()
<button type="submit">ZALOGUJ</button>
      </div>

</div><!--panel-->

</div>
    }
    </div>
