﻿@model TimetableArranger.Web.Models.RegisterModel

@{
    ViewBag.Title = "Rejestracja";
    ViewBag.CssFilename = "style-login";
}
<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
<b>TIME TABLE ARRANGER</b></div></div>
<div id="pole">
<div class="napisy" ><a  href="">STRONA GŁÓWNA</a></div>
<div class="napisy"><a href="">DEMO</a></div>
<div class="napisy"><a href="">POMOC/FAQ</a></div>
<div class="napisy"><a href="">KONTAKT/TWÓRCY</a></div>
<div id="pusta"></div>
@using(Html.BeginForm())
{
    <div class="rejestracja">
<div class="panel">
<div class="nazwa">
<p>Rejestracja</p>
</div><!--nazwa-->
<div>
<label>Login</label>
		@*<input type="text" id="login" name="nick" value="" />*@
        @Html.EditorFor(m=>m.Login)
	  </div>

<div>
<label>Email</label>
		@*<input type="text" id="email" name="nick" value="" />*@
        @Html.EditorFor(m=>m.EMail)
	  </div>
              
<div>
<label>Hasło</label>
		@*<input type="text" id="haslo" name="nick" value="" />*@
        @Html.PasswordFor(m=>m.Password)
	  </div>
      
<div>
<div style="margin-top:10px;  font-family: 'PT Sans', sans-serif; font-size:14px; margin-right:212px;">Potwierdź </div>
    
  @*<input type="text" style="float:right; margin-top:-13px;  margin-right:10px" id="email2" name="email" value="" />*@
  @Html.PasswordFor(m=>m.ConfirmPassword)

    <div style="margin-top:1px;  font-family: 'PT Sans', sans-serif; font-size:14px; margin-right:239px">hasło </div>
      </div>

<div>
@Html.ValidationSummary()
<button>ZAREJESTRUJ</button>
      </div>

</div>
    
</div>
}
</div>