﻿@model TimetableArranger.Web.Models.TutorCreateModel

@{
    ViewBag.Title = "Create";
    ViewBag.CssFilename = "style-tutor";
}
<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
  <p><b style="font-weight:900">Aranżer</b></br>
  </p>
  <p style="font-size:11px">Kreator układania planu</p>
</div></div>
<div id="pole">
<div class="napisy" >@Html.ActionLink("PROWADZĄCY", "Create", "Tutor")</div>
<div class="napisy">@Html.ActionLink("SALE","Create","Classroom")</div>
<div class="napisy">@Html.ActionLink("PRZEDMIOT","Create","Course")</div>
<div class="napisy">@Html.ActionLink("GRUPY","Create","Group")</div>
<div class="napisy" style="margin-left:90px">LISTA DODANYCH PROWADZĄCYCH</div>

<div id="pusta"></div>
@using (Html.BeginForm())
{
<div  class="ramka">
<div class="nazwa">

</div><!--nazwa-->
<div >
<label>Imię</label>
		@*<input type="text" id="login" name="nick" value="" />*@
        @Html.EditorFor(m => m.FirstName)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.FirstName)</div>
	  </div>
        
<div>
<label>Nazwisko</label>
		@*<input type="text" id="haslo" name="nick" value="" />*@
        @Html.EditorFor(m => m.Surname)
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.Surname)</div>
	  </div>
<div>
<label>Tytuł</label>
        @Html.DropDownListFor(m => m.TutorTitleId, Model.Titles)
        @*<select class="lista" name="drop">
            <option value="prof">brak</option>
            <option value="mgr">Magister</option>
            <option value="dr">Doktor</option>
        </select>*@
    <div class="komunikaty">@Html.ValidationMessageFor(m => m.TutorTitleId)</div>
	  </div>
<div>
<label>E-mail</label>
		@*<input type="text" id="Text1" name="nick" value="" />*@
        @Html.EditorFor(m => m.Email)
        <div class="komunikaty">@Html.ValidationMessageFor(m => m.Email)</div>
	  </div>

</div>

   <div><button type="submit">dodaj prowadzącego</button></div> 
}

    <div class="kreska2"></div>
    <div class="kreska3"></div>

    <div class="tabela">
        <table>
            <tr><td style="width:193px; color:#33BBBF; font-size:10px">Imię i nazwisko</td><td style="width:240px; color:#33BBBF;font-size:10px">E-mail</td><td style="width:100px; color:#33BBBF; font-size:10px">Modyfikacje</td></tr>
            @foreach (var tvModel in Model.TutorsList)
            {
            <tr><td>@tvModel.Name</td><td>@tvModel.Email</td><td><a href=""><img border="none" src="@Url.Content("~/Content/images/index_14.gif")"></a><a href="mailto:@tvModel.Email"><img border="none" src="@Url.Content("~/Content/images/index_15.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_16.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_17.gif")"></a></td></tr>
            }
        </table>
    </div>
