﻿@model TimetableArranger.Web.Models.ClassroomModel

@{
    ViewBag.Title = "Sale";
    ViewBag.CssFilename = "style-classroom";
}

<div class="kreska">
<div id="ciemn"></div>
<div id="jasn"></div>
<div id="logo">
  <p><b style="font-weight:900">DASHBOARD</b></br>
  </p>
  <p style="font-size:11px">Kreator układania planu</p>
</div></div>
<div id="pole">
<div class="napisy" >@Html.ActionLink("PROWADZĄCY", "Create", "Tutor")</div>
<div class="napisy">@Html.ActionLink("SALE","Create","Classroom")</div>
<div class="napisy">@Html.ActionLink("PRZEDMIOT","Create","Course")</div>
<div class="napisy">@Html.ActionLink("GRUPY","Create","Group")</div>
    <div class="napisy" style="margin-left:90px">LISTA DODANYCH SAL</div>
<div id="pusta"></div>
@using(Html.BeginForm()) {
<div  class="ramka">
<div class="nazwa">

</div><!--nazwa-->

<div >
<label>Nr</label>
		@*<input type="text" id="login" name="nick" value="" />*@
        @Html.EditorFor(m=>m.thisClassroom.Number)
    <div class="komunikaty">@Html.ValidationMessageFor(m=>m.thisClassroom.Number)</div>
	  </div>
        
<div>
<label>Piętro</label>
		@*<input type="text" id="haslo" name="nick" value="" />*@
        @Html.EditorFor(m=>m.thisClassroom.Floor)
    <div class="komunikaty">@Html.ValidationMessageFor(m=>m.thisClassroom.Floor)</div>
	  </div>
<div>
<label>Budynek</label>
        @Html.DropDownListFor(m=>m.thisClassroom.BuildingNo,Model.BuildingsList)
    <div class="komunikaty">@Html.ValidationMessageFor(m=>m.thisClassroom.BuildingNo)</div>
	  </div>
<div>
<label>Typ sali</label>
		@*<input type="text" id="Text1" name="nick" value="">*@
         @Html.DropDownListFor(m=>m.TypeId,Model.TypesList)
    <div class="komunikaty">@Html.ValidationMessageFor(m=>m.TypeId)</div>
	  </div>
   @* <div>
<label>Zasoby</label>
        <select class="lista" name="drop">
            <option value="prof">brak</option>
            <option value="mgr">NIE MA</option>
            <option value="dr">NIE MA</option>
        </select>
    <div class="komunikaty">k</div>
	  </div>*@
    <div>
<label>Liczba</label>
		@*<input type="text" id="Text2" name="nick" value="" />*@
        @Html.EditorFor(m=>m.thisClassroom.SeatsNumber)
        <div class="komunikaty">@Html.ValidationMessageFor(m=>m.thisClassroom.SeatsNumber)</div>
        <label style="margin-right:315px">miejsc/stanowisk</label>
	  </div>

</div>
<div><button>dodaj salę do bazy</button></div> 
}
    <div class="kreska2"></div>
    <div class="kreska3"></div>

    <div class="tabela">
        <table>
            <tr><td style="width:40px; color:#33BBBF; font-size:10px">Nr sali</td><td style="width:40px; color:#33BBBF; font-size:10px">Piętro</td><td style="width:50px; color:#33BBBF; font-size:10px">Budynek</td><td style="width:100px; color:#33BBBF; font-size:10px">Typ sali</td><td style="width:70px; color:#33BBBF; font-size:10px">Liczba miejsc</td>
            @*<td style="width:140px; color:#33BBBF; font-size:10px">Zasoby</td>*@
            <td style="width:100px; color:#33BBBF; font-size:10px">Modyfikacje</td></tr>
            @foreach (var cvModel in Model.ClassroomList)
            {
            <tr><td>@cvModel.Number</td><td>@cvModel.Floor</td><td>@cvModel.BuildingNo</td><td>@cvModel.TypeText</td><td>@cvModel.SeatsNumber</td>
            @*<td>[BRAK W BAZIE]</td>*@
            <td><a href=""><img border="none" src="images/index_14.gif"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_15.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_16.gif")"></a><a href=""><img border="none" src="@Url.Content("~/Content/images/index_17.gif")"></a></td></tr>            
            }
        </table>
    </div>


    </div>
